* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Utility Classes */

/* Typography */

/* Colors */

/* Header */

header {
    background-color: #e5e5e5;
}

.primary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2em;
    height: 52px;
}

.primary-nav__list {
    display: flex;
    list-style: none;
}

.primary-nav__item {
    margin-right: 1rem;
}

.primary-nav__link {
    text-decoration: none;
}
/* Main */

main {
    background-color: #d5d5d5;
}

/* Jumbotron / Hero */

.jumbotron {
    min-height: 60vh;
    background-color: #c8c8c8;
    display: grid;
    place-content: center;
    text-align: center;
}



/* Components */

.card-gallery {
    background-color: white;
    padding: 6em 2em;
    border: solid 1px red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    border-radius: 12px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-img {
    height: 220px;
    background-color: lightgray;
    border-radius: 8px;
}

.card-tag {
    background-color: pink;
    max-width: 62px; 
    padding: 0.5rem 0.6rem;
    border-radius: 5000px;
}

.cta-view {
    width: 30%;
    align-self: flex-end;
}
/* Responsive smaller screens */

@media only screen and (max-width: 825px) {
  .card-gallery {
    display: flex;
    flex-direction: column;
  }
}